body {
  font-family: Josefin Sans, sans-serif;
  font-size: large;
}

input {
  font-family: Josefin Sans, sans-serif;
}

#text-input {
  display: block;
  margin-bottom: 10px;
}

#meme-image-container {
  margin-top: 10px;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}

img {
  height: 250px;
  width: 400px;
}

#meme-text {
  margin-left: 10px;
  margin-top: 200px;
  position: absolute;
  font-size: 30px;
  color: white;
  text-shadow: black 5px 5px 5px;
}

#styleButtons button {
  border: 1px;
  border-radius: 5px;
  font-size: large;
  margin-left: 20px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#miniatures {
  margin-top: 20px;
}

#miniatures img{
  width: 100px;
  height: 100px;
  margin-right: 30px;
  border-radius: 10px;
  border: 2px solid black;
}
