#meme-text {
  font-size: 30px;
  color: white;
  text-shadow: black 5px 5px 5px;
  position: absolute;
  bottom: 0;
  width: 400px;
}

#meme-image-container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: white;
}

#meme-image {
  width: 400px;
  height: 400px;
  position: absolute;
}

.classic {
  border: 1px solid black;
}

.fire {
  border: 3px dashed red;
}

.water {
  border: 5px double blue;
}

.earth {
  border: 6px groove green;
}
